<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GroupVision.Data.Properties.Settings.VisionGroupConnectionString"
            connectionString="Data Source=MOLAX-PC;Initial Catalog=VisionGroup;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GroupVision.Data.Properties.Settings.GroupVisaoConnectionString"
            connectionString="Data Source=MOLAX-PC;Initial Catalog=GroupVisao;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GroupVision.Data.Properties.Settings.GroupVisaoConnectionString1"
            connectionString="Data Source=ATIVO216\SQLEXPRESS;Initial Catalog=GroupVisao;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>